h1 {
  font-family: raleway, sans-serif;
  font-weight: 200;
}

div {
  font-family: raleway, sans-serif;
  background-color: white;
}

body {
  background-color: #563d7c; /*rgb(84, 72, 98);*/
}

#user-profile {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
  box-shadow: 2px 2px 5px #000;
  border: 1px solid #000;

  hr {
    margin: 20px auto;
    width: 50px;
    border: 1px solid #6b0a3a;
    background-color: transparent;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  button {
    float: left;
    margin-left: 20px;
    margin-top: 10px;

    background: none !important;
    border: none;
    padding: 0 !important;

    /*optional*/
    font-family: arial, sans-serif; /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }

  .top,
  .bottom {
    padding: 30px;
  }

  .bottom {
    background-color: rgba(white, 0.3);
    text-align: left;
  }

  .avatar {
    border-radius: 50%;
    overflow: hidden;
    display: inline-flex;
    margin-bottom: 15px;
    border: 1px solid #000;
    img {
      width: 100%;
    }
  }
}

// .profile-header {
//   display:flex;
// }

// .profile-about {
//   display: flex;
//   flex-direction: column;
//   align-items: left;
//   flex: auto;
// }

// .profile-picture {
//   flex: auto;
// }

// .profile-name {
//   font-size: 63px;
//   font-weight: 500;
// }

.nav-item a {
  color: white;
}

ul {
  list-style-type: none;
}

.bg-dark {
  background-color: #563d7c;
}

.nav-sidebar a {
  color: black;
}

.body-contents {
  background-color: white;
}

.display-flex {
  display: flex;
}

.flex-item {
  flex: auto;
}

.nav-banner {
  display: flex;
  background-color: #563d7c;
  height: 40px;
}

.nav-item {
  flex: 1 1 100px;
  text-align: center;
  color: white;
  background-color: #563d7c;
  justify-content: center;
}
/* "Welcome screen" styles */
/* Move down content because we have a fixed navbar that is 50px tall */

.background-colored {
  background-color: rgb(84, 72, 98);
}

.foreground-colored {
  color: #825ea8;
}

.step-banner {
  background: rgb(75, 102, 31);
  color: white;
  height: 46px;
  font-weight: bold;
  padding-bottom: 16px;
  padding-left: 34px;
  padding-right: 8px;
  padding-top: 16px;
  font-size: 20px;
  margin-bottom: 20px;
}

.single-choice {
  margin-top: 20px;
}

.single-choice div input {
  margin-right: 10px;
  margin-bottom: 20px;
}

textarea.ta-question {
  border-bottom: 3px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  max-width: 426px;
  width: 426px;
}

.next-btn {
}

label.question {
  font-size: 20px;
}

.btn-primary {
  background-color: #825ea8;
  border-color: #825ea8;
}
.fileInput {
  border-bottom: 4px solid #d3d3d3;
  border-right: 4px solid #d3d3d3;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  padding: 10px;
  margin: 15px;
  cursor: pointer;
}
.imgPreview {
  text-align: center;
  margin: 5px 15px;
  height: 500px;
  width: 500px;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  border-top: 5px solid #808080;
  border-bottom: 5px solid #808080;
}
.imgPreview img {
  width: auto;
  height: 100%;
}
.previewText {
  width: 100%;
  margin-top: 20px;
}
.submitButton {
  padding: 12px;
  margin-left: 10px;
  background: #fff;
  border: 4px solid #d3d3d3;
  border-radius: 15px;
  font-weight: 700;
  font-size: 10pt;
  cursor: pointer;
}
.submitButton:hover {
  background: #efefef;
}
.centerText {
  text-align: center;
  width: 500px;
}

body {
  padding-top: 20px;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}
