/*Image display component*/
.profile-picture {
    position: relative;
    width: 50%;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.profile-picture:hover .image {
  opacity: 0.3;
}

.profile-picture:hover .middle {
  opacity: 1;
}

.reset {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.8);
    z-index: 2;
    cursor: pointer;
}

#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
#close {
    margin-left: 60%;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
}
/*Image upload component*/
.previewComponent {
  margin: 0 auto;
  width: 60%;
  background-color: rgba(108, 86, 135, 0.4);
  border-style: solid;
  border-width: 5px;
  border-color: rgb(84, 72, 98);
  text-align:center;
}
.imgPreview {
  border-style: solid;
  border-width: 5px;
  border-color: rgb(84, 72, 98);
  width: 50%;
  margin: 0 auto;
  position: relative;
  display: inline-block;
}
#preview {
  padding: 0;
  position: absolute;
  width: auto;
  height:auto;
  max-height: 490px;
  max-width: 490px;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#prev {
  border-radius: 15px;
  border-style: solid;
  border-width: 4px;
  border-color: rgb(84, 72, 98);
}
#fileInput {
  border-radius: 15px;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(84, 72, 98);
}
#submit{
  background-color: rgb(84, 72, 98);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
#submit:hover {
    background-color: white;
    color: rgb(84, 72, 98);
}